body {
	background: #0C1124;
}

.btns {
	cursor: pointer;
}

.mikrik {
	background-image: url('images/mikrik.jpg');
	background-repeat:  no-repeat;
	height: 46px;
	width: 46px;	
	background-position: 0 0;
}
.mikrik:hover {
	background-position: -46px 0;	
}


.range {
	background-image: url('images/range.jpg');
	background-repeat:  no-repeat;
	height: 48px;
	width: 44px;	
	background-position: 0 -432px;
}

.range-hover {
	background-position: -42px -432px;	
}

.range-active {
	background-position: -84px -432px;	
}

.radio {
	background-image: url('images/radio.jpg');
	background-repeat:  no-repeat;
	height: 44px;
	width: 120px;	
}

.radio:hover {
	background-position: -82px 0;	
}

.checkbox {
	background-image: url('images/checkbox.gif');
	background-repeat:  no-repeat;
	height: 44px;
	width: 44px;		
}