body {
	background: #0C1124;
}

.btns {
	cursor: pointer;
}

.cloth {
	display: none;
}

.button {
	background-image: url('images/button.jpg');
	background-repeat: no-repeat;
	height: 40px;
	width: 42px;	
	background-position: 0 0;
	border: 0px;
}

.range {
	background-image: url('images/range.jpg');
	background-repeat: no-repeat;
	height: 48px;
	width: 44px;	
	background-position: 0 -432px;
}

.radio {
	background-image: url('images/radio.jpg');
	background-repeat: no-repeat;
	height: 44px;
	width: 120px;	
	position: relative;
}

.checkbox {
	background-image: url('images/checkbox.gif');
	background-repeat: no-repeat;
	height: 44px;
	width: 44px;		
}

.volume {
	background-image: url('images/volume.jpg');
	background-repeat: no-repeat;
	height: 48px;
	width: 90px;	
}

.ton {
	background-image: url('images/ton.jpg');
	background-repeat: no-repeat;
	height: 48px;
	width: 90px;	
}

.speed {
	background-image: url('images/speed.jpg');
	background-repeat: no-repeat;
	height: 48px;
	width: 90px;	
}